*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
font-family: 'Fasthand', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Work Sans', sans-serif;
}