* {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Work Sans', sans-serif;
}

/* header styles start */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 150px;
}

header nav .logo-g3 {
    color: red;
    font-size: 65px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-title {
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 15px;
    font-size: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

/* banner styles */
.banner {
    margin-top: 80px;
}

.banner-content {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.banner-content .banner-title {
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

.banner-content .banner-descp {
    color: var(--dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.banner-content .btn-primary {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    margin: 15px 0px 25px 0px;
    background: #FF900E;
    color: #fff;
    transition: .5s;
}

.banner-content .btn-primary:hover {
    border: 1px solid #000;
    background: transparent;
    color: #000;
    cursor: pointer;
}

.banner-img {
    display: flex;
    justify-content: center;
}

.banner-img .banner-img-1 {
    width: 100%
}

/* main styles */
.main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams section styles */
.teams-container {
    display: flex;
    align-items: center;
    margin: 80px;
}

.teamd-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.teamd-img-container .team-img-a2z {
    width: 242px;
    height: 242px;
    flex-shrink: 0;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

#Quick {
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#of-our {
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#Features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.teams-content .teams-descrip {
    color: var(--dark-03, #727272);
    font-size: 16px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 26px;
}

.teams-content .btn-primary {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    margin: 15px 0px 25px 0px;
    background: #FF900E;
    color: #fff;
    transition: .5s;
}

.teams-content .btn-primary:hover {
    border: 1px solid #000;
    background: transparent;
    color: #000;
    cursor: pointer;
}

/* facts styles */
.facts {
    margin: 70px;
}

.facts .facts-titel {
    color: var(--dark-01, #131313);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.facts .facts-descrip {
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
}

/* facts styles */
.facts-card-container {
    margin-top: 50px;
    display: flex;
    width: 100%;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
    width: 110px;
    height: 110px;
}

.facts-card-container .card .card-start {
    color: var(--dark-02, #424242);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.facts-card-container .card .card-titel {
    color: var(--dark-03, #727272);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

/* sponsors style start */
.sponsors {
    text-align: center;
}

.sponsors .sponsors-titel {
    color: var(--dark-01, #131313);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sponsors .sponsors-descrip {
    color: var(--dark-03, #727272);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    height: 150px
}

.sponsors-img-container .spnsores-a2z {
    gap: 50px;
    display: flex;

}

.spnsores-a2z .sp-img-a2z {
    width: 100px;
}

/* sponsors style end */
/* footer section start */
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 50px;
}

.last-footer {
    width: 80%;
    align-items: center;
    height: 100px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF4E7;
    display: flex;
    align-items: center;
    text-align: center;
}

.last-footer .footer-content {
    color: var(--dark-02, #424242);
    display: flex;
    font-size: 20px;
    font-weight: 400;
    margin-left: 148px;
}

/* footer section end */